/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-background-image {
  background-image: url(../images/sprite.png);
  background-position: -1347px -2032px;
  width: 480px;
  height: 254px;
}
.icon-background-image@2x {
  background-image: url(../images/sprite.png);
  background-position: -1440px -1270px;
  width: 960px;
  height: 508px;
}
.icon-background-image@3x {
  background-image: url(../images/sprite.png);
  background-position: 0px -1270px;
  width: 1440px;
  height: 762px;
}
.icon-icon-dine {
  background-image: url(../images/sprite.png);
  background-position: -2704px -1504px;
  width: 21px;
  height: 21px;
}
.icon-icon-dine@2x {
  background-image: url(../images/sprite.png);
  background-position: -2622px -1570px;
  width: 42px;
  height: 42px;
}
.icon-icon-dine@3x {
  background-image: url(../images/sprite.png);
  background-position: -2652px -1441px;
  width: 63px;
  height: 63px;
}
.icon-icon-drink {
  background-image: url(../images/sprite.png);
  background-position: -2526px -1542px;
  width: 20px;
  height: 22px;
}
.icon-icon-drink@2x {
  background-image: url(../images/sprite.png);
  background-position: -2400px -1633px;
  width: 40px;
  height: 44px;
}
.icon-icon-drink@3x {
  background-image: url(../images/sprite.png);
  background-position: -2400px -1504px;
  width: 60px;
  height: 66px;
}
.icon-icon-explore-active {
  background-image: url(../images/sprite.png);
  background-position: -2546px -1542px;
  width: 16px;
  height: 21px;
}
.icon-icon-explore-active@2x {
  background-image: url(../images/sprite.png);
  background-position: -2472px -1633px;
  width: 32px;
  height: 42px;
}
.icon-icon-explore-active@3x {
  background-image: url(../images/sprite.png);
  background-position: -2448px -1570px;
  width: 48px;
  height: 63px;
}
.icon-icon-explore-active_2 {
  background-image: url(../images/sprite.png);
  background-position: -2562px -1542px;
  width: 16px;
  height: 21px;
}
.icon-icon-explore-active_2@2x {
  background-image: url(../images/sprite.png);
  background-position: -2440px -1633px;
  width: 32px;
  height: 42px;
}
.icon-icon-explore-active_2@3x {
  background-image: url(../images/sprite.png);
  background-position: -2400px -1570px;
  width: 48px;
  height: 63px;
}
.icon-icon-handshake {
  background-image: url(../images/sprite.png);
  background-position: -2696px -1336px;
  width: 26px;
  height: 19px;
}
.icon-icon-handshake@2x {
  background-image: url(../images/sprite.png);
  background-position: -2526px -1504px;
  width: 52px;
  height: 38px;
}
.icon-icon-handshake@3x {
  background-image: url(../images/sprite.png);
  background-position: -2544px -1369px;
  width: 78px;
  height: 57px;
}
.icon-icon-house {
  background-image: url(../images/sprite.png);
  background-position: -2722px -1336px;
  width: 21px;
  height: 19px;
}
.icon-icon-house@2x {
  background-image: url(../images/sprite.png);
  background-position: -2578px -1504px;
  width: 42px;
  height: 38px;
}
.icon-icon-house@3x {
  background-image: url(../images/sprite.png);
  background-position: -2622px -1369px;
  width: 63px;
  height: 57px;
}
.icon-icon-medical {
  background-image: url(../images/sprite.png);
  background-position: -2725px -1504px;
  width: 22px;
  height: 20px;
}
.icon-icon-medical@2x {
  background-image: url(../images/sprite.png);
  background-position: -2706px -1570px;
  width: 44px;
  height: 40px;
}
.icon-icon-medical@3x {
  background-image: url(../images/sprite.png);
  background-position: -2460px -1504px;
  width: 66px;
  height: 60px;
}
.icon-icon-messages {
  background-image: url(../images/sprite.png);
  background-position: -2662px -1504px;
  width: 21px;
  height: 21px;
}
.icon-icon-messages@2x {
  background-image: url(../images/sprite.png);
  background-position: -2580px -1570px;
  width: 42px;
  height: 42px;
}
.icon-icon-messages@3x {
  background-image: url(../images/sprite.png);
  background-position: -2400px -1441px;
  width: 63px;
  height: 63px;
}
.icon-icon-my-location {
  background-image: url(../images/sprite.png);
  background-position: -2672px -1336px;
  width: 24px;
  height: 24px;
}
.icon-icon-my-location@2x {
  background-image: url(../images/sprite.png);
  background-position: -2685px -1369px;
  width: 48px;
  height: 48px;
}
.icon-icon-my-location@3x {
  background-image: url(../images/sprite.png);
  background-position: -2400px -1369px;
  width: 72px;
  height: 72px;
}
.icon-icon-save-copy-2 {
  background-image: url(../images/sprite.png);
  background-position: -2764px -1312px;
  width: 21px;
  height: 21px;
}
.icon-icon-save-copy-2@2x {
  background-image: url(../images/sprite.png);
  background-position: -2538px -1570px;
  width: 42px;
  height: 42px;
}
.icon-icon-save-copy-2@3x {
  background-image: url(../images/sprite.png);
  background-position: -2589px -1441px;
  width: 63px;
  height: 63px;
}
.icon-icon-save-copy {
  background-image: url(../images/sprite.png);
  background-position: -2641px -1504px;
  width: 21px;
  height: 21px;
}
.icon-icon-save-copy@2x {
  background-image: url(../images/sprite.png);
  background-position: -2664px -1570px;
  width: 42px;
  height: 42px;
}
.icon-icon-save-copy@3x {
  background-image: url(../images/sprite.png);
  background-position: -2526px -1441px;
  width: 63px;
  height: 63px;
}
.icon-icon-save {
  background-image: url(../images/sprite.png);
  background-position: -2620px -1504px;
  width: 21px;
  height: 21px;
}
.icon-icon-save@2x {
  background-image: url(../images/sprite.png);
  background-position: -2740px -1270px;
  width: 42px;
  height: 42px;
}
.icon-icon-save@3x {
  background-image: url(../images/sprite.png);
  background-position: -2463px -1441px;
  width: 63px;
  height: 63px;
}
.icon-icon-search-grey {
  background-image: url(../images/sprite.png);
  background-position: -2740px -1312px;
  width: 24px;
  height: 24px;
}
.icon-icon-search-grey@2x {
  background-image: url(../images/sprite.png);
  background-position: -2733px -1369px;
  width: 48px;
  height: 48px;
}
.icon-icon-search-grey@3x {
  background-image: url(../images/sprite.png);
  background-position: -2472px -1369px;
  width: 72px;
  height: 72px;
}
.icon-icon-trips {
  background-image: url(../images/sprite.png);
  background-position: -2683px -1504px;
  width: 21px;
  height: 21px;
}
.icon-icon-trips@2x {
  background-image: url(../images/sprite.png);
  background-position: -2496px -1570px;
  width: 42px;
  height: 42px;
}
.icon-icon-trips@3x {
  background-image: url(../images/sprite.png);
  background-position: -2715px -1441px;
  width: 63px;
  height: 63px;
}
.icon-logo {
  background-image: url(../images/sprite.png);
  background-position: -2604px -1336px;
  width: 68px;
  height: 33px;
}
.icon-logo@2x {
  background-image: url(../images/sprite.png);
  background-position: -2604px -1270px;
  width: 136px;
  height: 66px;
}
.icon-logo@3x {
  background-image: url(../images/sprite.png);
  background-position: -2400px -1270px;
  width: 204px;
  height: 99px;
}
.icon-search {
  background-image: url(../images/sprite.png);
  background-position: -2338px -1778px;
  width: 449px;
  height: 120px;
}
.icon-search@2x {
  background-image: url(../images/sprite.png);
  background-position: -1440px -1778px;
  width: 898px;
  height: 240px;
}
.icon-search@3x {
  background-image: url(../images/sprite.png);
  background-position: 0px -2032px;
  width: 1347px;
  height: 360px;
}
.icon-sprite {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 2787px;
  height: 1270px;
}
