
$main-color:    #47ccb0;
$text-color:    #9298a0;
$icon-color:    #b7bfca;
$light:         #ffffff;
$focus:         #f38a1a;

$marker:        #32a4f1;
$marker2:       #ca4bea;
$marker3:       #47ccb0;

$number1:       #d07514;
$number2:       #1d80c4;
$number3:       #a62dc4;
