
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat|Roboto:400,500,700');

$main-font:      'Roboto', sans-serif;
$secound-font:   'Lato', sans-serif;
$third-font:     'Montserrat', sans-serif;

$regular:         400;
$medium:          500;
$bold:            700;
