.button {
  border-radius: 50px;
  border: none;
  outline:none;
  font-family: $third-font;
  text-transform: uppercase;
  cursor: pointer;
}
.button-large {
  height: 45px;
  padding: 15px 30px;
  font-size: 14px;
}
.button-small {
  height: 30px;
  padding: 8px 16px;
  border-radius: 50px;
  font-size: 12px;
}
.button__main {
  @extend .button;
  background-color: $light;
  color: $text-color;
  box-shadow: 0 7px 15px 0 rgba(146, 152, 160, 0.15);
}
.button__active {
  @extend .button;
  background-color: $focus;
  color: $light;
  box-shadow: 0 7px 15px 0 rgba(243, 138, 25, 0.4);
}
