#wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  //I will get height with js
  @include breakpoint(0 $sm) {
    overflow: auto;
  }
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

//=======================================
//   Map
//=======================================
#map {
  height: 100%;
  width: 100%;
  left: 480px;
  position: absolute;
  top: 0;
  @include breakpoint(0 $sm) {
    left: 360px;
  }
}

//   Top of the map
//=======================================
.map__top {
  position: relative;
  top: 30px;
  left: 510px;
  @include breakpoint(0 $sm) {
    left: 360px;
  }
}
// Search bar
.map__search {
  display: inline-block;
  vertical-align: middle;
  float: left;
  @include breakpoint(0 $sm) {
    padding-left: 10px;
  }

  &--input {
    appearance: none;
    outline: none;
    box-shadow: none;
    border:none;
    width: 400px;
    border-radius: 50px;
    padding: 20px 30px;

    background-image: url("../images/svg/icon-search-grey.svg");
    background-repeat: no-repeat;
    background-position: right 30px top 15px;
    @include breakpoint(0 $xl) {
      width: 300px;
    }// Emd of breakpoint

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-family: $main-font;
      font-size: 17px;
      @include breakpoint(0 $xl) {
        font-size: 15px;
      }// Emd of breakpoint
    }
    &::-moz-placeholder { /* Firefox 19+ */
      font-family: $main-font;
      font-size: 17px;
      @include breakpoint(0 $xl) {
        font-size: 15px;
      }// Emd of breakpoint
    }
    &:-ms-input-placeholder { /* IE 10+ */
      font-family: $main-font;
      font-size: 17px;
      @include breakpoint(0 $xl) {
        font-size: 15px;
      }// Emd of breakpoint
    }
    &:-moz-placeholder { /* Firefox 18- */
      font-family: $main-font;
      font-size: 17px;
      @include breakpoint(0 $xl) {
        font-size: 15px;
      }// Emd of breakpoint
    }
  } // End of input
} // End of map__search

.map__iconswrap {
  float: right;
  margin-right: 510px;
  @include breakpoint(0 1010px) {
    width: 100%;
    float: left;
    margin-top: 15px;
  }// Emd of breakpoint
  @include breakpoint(0 $sm) {
    padding-left: 10px;
  }
}

//Right icon part
.map__icons {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-family: $main-font;
  font-size: 18px;
  font-weight: $bold;
  color: $light;
  cursor: pointer;
  &--number {
    position: absolute;
    top: 9px;
    left: 9px;
  }
} // map__icon
//icon colors
.number-1 {
  background: $number1;
  border: 3px solid $focus;
  box-shadow: 7px 7px 30px 0 rgba(243, 138, 25, 0.9);
}
//icon colors
.number-2 {
  background: $number2;
  box-shadow: 7px 7px 30px 0 rgba(49, 164, 241, 0.9);
  border: 3px solid $marker;
}
//icon colors
.number-3 {
  background: $number3;
  box-shadow: 7px 7px 30px 0 rgba(202, 74, 234, 0.9);
  border: solid 3px $marker2;
}

//   Bottom of the map
//=======================================
.map__bottom {
  position: relative;
  bottom: -88%;
  left: 510px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  background-color: $light;
  box-shadow: 0 0 30px 0 rgba(146, 152, 160, 0.1);
  &--icon {
    position: absolute;
    top: 18px;
    left: 18px;
  }
  @include breakpoint(0 $sm) {
    left: 370px;
    bottom: -80%;
  }
} // map__bottom

//=======================================
//   Show and hide sidemenu code
//=======================================
#wrapper.show-nav .main {
  transform: translateX(-480px);
  @include breakpoint(0 $sm) {
    transform: translateX(-360px);
  }
}

#wrapper.show-nav .map__iconswrap {
  margin-right: 30px;
}

//=======================================
//   Map markers
//=======================================
.customMarker {
  position:absolute;
  cursor:pointer;
  display: block;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  border: 3px solid $focus;
  box-shadow: 5px 5px 20px 0 rgba(243, 138, 25, 0.3);
  transition: all .2s ease-out;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 10px rgba(243, 138, 25, 0.4);
  }
}
.customMarker:active {
  position:absolute;
  cursor:pointer;
  display: block;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  border: 3px solid $focus;
  box-shadow: 0px 0px 0px 27px rgba(243, 138, 24, 0.2),
              0px 0px 0px 44px rgba(243, 138, 24, 0.17),
              0px 0px 0px 65px rgba(243, 138, 24, 0.07);
}
.customMarker-active {
  @extend .customMarker;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 0px 27px rgba(243, 138, 24, 0.2),
                0px 0px 0px 44px rgba(243, 138, 24, 0.17),
                0px 0px 0px 65px rgba(243, 138, 24, 0.07);
  }
}
//Active class for custom markers
.active  {
  position:absolute;
  cursor:pointer;
  display: block;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  border: 3px solid $focus;
  box-shadow: 0px 0px 0px 27px rgba(243, 138, 24, 0.2),
              0px 0px 0px 44px rgba(243, 138, 24, 0.17),
              0px 0px 0px 65px rgba(243, 138, 24, 0.07);
}
//Green custom marker
.customMarkerGreen {
  position:absolute;
  cursor:pointer;
  display: block;
  width: 63px;
  height: 63px;
  border: 3px solid $marker3;
  border-radius: 50% 50% 50% 0;
  background: $marker3;
  position: absolute;
  transform: rotate(-45deg);
  img {
    transform: rotate(45deg);
  }
}

//   position of images for custom markers
//=======================================
.customMarker img,
.customMarker-active img,
.customMarkerGreen img {
  width:57px;
  height:57px;
  border-radius: 50%;
}
// Dot markers
.secound-marker {
  position:absolute;
  cursor:pointer;
  display: block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: $marker;
  border: 3px solid $light;
  box-shadow: 7px 7px 30px 0 rgba(49, 164, 241, 0.9);
  transition: all .1s ease-out;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 30px 5px rgba(49, 164, 241, 0.9);
  }
}
// Dot markers
.third-marker {
  position:absolute;
  cursor:pointer;
  display: block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: $marker2;
  box-shadow: 7px 7px 30px 0 rgba(202, 74, 234, 0.9);
  border: 3px solid $light;
  transition: all .1s ease-out;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 30px 5px rgba(202, 74, 234, 0.9);
  }
}
